.App {
  text-align: center;
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  min-height: 100vh;
}

header {
  font-size: 6em;
  font-family: 'Pokemon';
}

header:hover {
  text-decoration: underline;
}

.pokemon {
  margin: 0 auto;
  max-width: fit-content;
  font-family: 'Press Start 2P';
}

.search {
  margin-bottom: 20px;
}