.App {
  text-align: center;
}

header {
  font-size: 6em;
  font-family: 'Pokemon';
}

header:hover {
  text-decoration: underline;
}

.pokemon {
  border: 1px black solid;
  margin: 0 auto;
  max-width: fit-content;
}

.search {
  margin-bottom: 20px;
}